<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!-- bean definitions here -->
    <bean id="numberGenerator" class="com.learnjava.NumberGeneratorImpl" />

    <!-- if we use constructor  -->
<!--    <bean id="game" class="com.learnjava.GameImpl">-->
<!--        <constructor-arg ref="numberGenerator"/>-->
<!--    </bean>-->

<!--    or we can use init-method to call reset method-->
<!--    <bean id="game" class="com.learnjava.GameImpl" init-method="reset">... -->
    <bean id="game" class="com.learnjava.GameImpl">
<!--        because we use autowiring-->
<!--        <property name="numberGenerator" ref="numberGenerator"/>-->
    </bean>

<!--    we use autowiring instead -->
<!--    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->
    
    
</beans>