<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">



    <context:component-scan base-package="com.learnjava"/>

<!--    &lt;!&ndash;    del all because now we use context:component-scan &ndash;&gt;-->
<!--    &lt;!&ndash;    <context:annotation-config/>&ndash;&gt;-->

<!--    &lt;!&ndash; bean definitions here &ndash;&gt;-->
<!--    <bean id="numberGenerator" class="com.learnjava.NumberGeneratorImpl" />-->

<!--    &lt;!&ndash; if we use constructor  &ndash;&gt;-->
<!--&lt;!&ndash;    <bean id="game" class="com.learnjava.GameImpl">&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg ref="numberGenerator"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--&lt;!&ndash;    or we can use init-method to call reset method&ndash;&gt;-->
<!--&lt;!&ndash;    <bean id="game" class="com.learnjava.GameImpl" init-method="reset">... &ndash;&gt;-->
<!--    <bean id="game" class="com.learnjava.GameImpl">-->
<!--&lt;!&ndash;        because we use autowiring&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="numberGenerator" ref="numberGenerator"/>&ndash;&gt;-->
<!--    </bean>-->

<!--&lt;!&ndash;    we use autowiring instead &ndash;&gt;-->
<!--&lt;!&ndash;    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>&ndash;&gt;-->
<!--    -->
    
</beans>